@{
    ViewBag.Title = "Other";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header">
        <h1>Página en Construcción</h1>
    </div>

    <div class="box text-center">
        <p>
            La página que intentas acceder aún no ha sido implementada. Estamos trabajando en ello.
        </p>
        <p>
            Mientras tanto, puedes volver a la <a href="@Url.Action("Index", "Home")">página principal</a>.
        </p>
    </div>
</div>